html {
	font-family: 'Raleway', "Arial Black";
	color: #6d6d6d;
}

body, div, img {
	margin: 0px;
	padding: 0px;
	background-image: url('../img/patterns/retina_wood.png');
}

header h1, header h2 {
	text-align: center;
	color: #FFF;
}

a {
	text-decoration: none;
	color: #FFF;
} a:hover {
	transition: 250ms ease-in;
	color: #6BA3E8;
  }

/* ------------------- SLIDESHOW ------------------- */
/* Couleur next et previous : #6BA3E8 */

#slideshow {
	margin: 0 auto;
	overflow: hidden;
}

#slideshow .content {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

#slideshow .slide {
	display: inline-block;
	box-shadow: inset 0px 0px 20px 0px #656565;
}

div#wrap {
	margin: 0 auto;
    padding: 0px 0px 70px 0px;
    box-shadow: 0px 0px 15px 0px #656565;

}

div#wrap, div.description {
	background-image: url('../img/patterns/noise_lines.png');
}

div.description {
	height: 70px;
	margin: 0;
	padding: 0;
}

div.description p {
	line-height: 70px;
	margin: 0;
	padding: 0;
	font-size: 26px;
	text-align: center;
	vertical-align: middle;
}

#slideshow {
    position: relative;
	display: inline-block;
	vertical-align: middle;

    z-index: 100;
}

.slide img {
	position: relative;
	clip: rect(0px, 200px, 100px, 0px);
}

div#previous, div#next {
	display: inline-block;
    vertical-align: middle;
	width: 64px;
	height: 64px;
}

div#previous:hover, div#next:hover, div#playpause:hover {
	cursor: pointer;
	transition: ease-in 250ms;
	opacity: 0.9;
}

div#previous {
	background-image: url('../img/previous.png');
	opacity: 0.3;
}

div#next {
	background-image: url('../img/next.png');
	opacity: 0.3;
}

div#playpause {
    position: relative;
    margin-left: auto;
    margin-right: auto;

	background: url('../img/play.png') no-repeat center;
	opacity: 0.1;
    z-index: 9999;
}

